/* Neat 1.7.0
 * http://neat.bourbon.io
 * Copyright 2012-2014 thoughtbot, inc.
 * MIT License */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

h1 {
  font-family: "Oswald", sans-serif;
  font-size: 4.25rem;
  line-height: 4.875rem;
  margin-top: 3.25rem;
  margin-bottom: 1.625rem; }

h2 {
  font-family: "Oswald", sans-serif;
  font-size: 2.625rem;
  line-height: 3.25rem;
  margin-top: 3.25rem;
  margin-bottom: 1.625rem; }

h3 {
  font-family: "Oswald", sans-serif;
  font-size: 1.625rem;
  line-height: 1.625rem;
  margin-top: 1.625rem;
  margin-bottom: 1.625rem; }

h4 {
  font-family: "Oswald", sans-serif;
  font-size: 1rem;
  line-height: 1.625rem;
  margin-top: 1.625rem;
  margin-bottom: 1.625rem; }

body {
  -webkit-font-smoothing: antialiased;
  background-color: white;
  color: black;
  font-family: "Open Sans", serif;
  font-size: 1rem;
  line-height: 1.625rem; }

h1,
h2,
h3,
h4,
h5,
h6 {
  text-rendering: optimizeLegibility; }

p {
  margin: 0 0 0.75em; }

a {
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  transition: color 0.1s linear;
  color: #477DCA;
  text-decoration: none; }
  a:hover {
    color: #2c5999; }
  a:active, a:focus {
    color: #2c5999;
    outline: none; }

hr {
  border-bottom: 1px solid #DDD;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.5em 0; }

img,
picture {
  margin: 0;
  max-width: 100%; }

blockquote {
  border-left: 2px solid #DDD;
  color: #262626;
  margin: 1.5em 0;
  padding-left: 0.75em; }

cite {
  color: #404040;
  font-style: italic; }
  cite:before {
    content: "\2014 \00A0"; }

nav.global-nav,
nav.global-nav-skills {
  float: left;
  display: block;
  margin-right: 4.82916%;
  width: 100%; }
  nav.global-nav:last-child,
  nav.global-nav-skills:last-child {
    margin-right: 0; }
  nav.global-nav .container,
  nav.global-nav-skills .container {
    padding: 0; }
  nav.global-nav ul,
  nav.global-nav-skills ul {
    margin: 0;
    padding: 0;
    list-style: none; }
  nav.global-nav a,
  nav.global-nav-skills a {
    display: block;
    padding: 0.75em;
    text-align: center; }

nav.global-nav {
  background-color: #DDD; }
  nav.global-nav li {
    float: left;
    display: block;
    margin-right: 4.82916%;
    width: 47.58542%; }
    nav.global-nav li:last-child {
      margin-right: 0; }

nav.global-nav-skills {
  background-color: #c6c6c6; }
  @media screen and (min-width: 40em) {
    nav.global-nav-skills .menu-toggle {
      display: none; } }
  nav.global-nav-skills ul {
    display: none; }
    @media screen and (min-width: 40em) {
      nav.global-nav-skills ul {
        display: block; } }
    nav.global-nav-skills ul.active {
      display: block; }
      @media screen and (min-width: 40em) {
        nav.global-nav-skills ul.active {
          display: block; } }

.container {
  max-width: 80em;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5em 0.75em; }
  .container::after {
    clear: both;
    content: "";
    display: table; }

/*# sourceMappingURL=style.css.map */
