/* Neat 1.7.0
 * http://neat.bourbon.io
 * Copyright 2012-2014 thoughtbot, inc.
 * MIT License */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

body:before {
  content: '';
  display: inline-block;
  background-image: -webkit-linear-gradient(left, transparent 0, #444 0, #444 12.64237%, transparent 12.64237%, transparent 17.47153%, #444 17.47153%, #444 30.11389%, transparent 30.11389%, transparent 34.94305%, #444 34.94305%, #444 47.58542%, transparent 47.58542%, transparent 52.41458%, #444 52.41458%, #444 65.05695%, transparent 65.05695%, transparent 69.88611%, #444 69.88611%, #444 82.52847%, transparent 82.52847%, transparent 87.35763%, #444 87.35763%, #444 100.0%, transparent 100.0%);
  background-image: -moz-linear-gradient(left, transparent 0, #444 0, #444 12.64237%, transparent 12.64237%, transparent 17.47153%, #444 17.47153%, #444 30.11389%, transparent 30.11389%, transparent 34.94305%, #444 34.94305%, #444 47.58542%, transparent 47.58542%, transparent 52.41458%, #444 52.41458%, #444 65.05695%, transparent 65.05695%, transparent 69.88611%, #444 69.88611%, #444 82.52847%, transparent 82.52847%, transparent 87.35763%, #444 87.35763%, #444 100.0%, transparent 100.0%);
  background-image: -ms-linear-gradient(left, transparent 0, #444 0, #444 12.64237%, transparent 12.64237%, transparent 17.47153%, #444 17.47153%, #444 30.11389%, transparent 30.11389%, transparent 34.94305%, #444 34.94305%, #444 47.58542%, transparent 47.58542%, transparent 52.41458%, #444 52.41458%, #444 65.05695%, transparent 65.05695%, transparent 69.88611%, #444 69.88611%, #444 82.52847%, transparent 82.52847%, transparent 87.35763%, #444 87.35763%, #444 100.0%, transparent 100.0%);
  background-image: -o-linear-gradient(left, transparent 0, #444 0, #444 12.64237%, transparent 12.64237%, transparent 17.47153%, #444 17.47153%, #444 30.11389%, transparent 30.11389%, transparent 34.94305%, #444 34.94305%, #444 47.58542%, transparent 47.58542%, transparent 52.41458%, #444 52.41458%, #444 65.05695%, transparent 65.05695%, transparent 69.88611%, #444 69.88611%, #444 82.52847%, transparent 82.52847%, transparent 87.35763%, #444 87.35763%, #444 100.0%, transparent 100.0%);
  background-image: linear-gradient(to left, transparent 0, #444 0, #444 12.64237%, transparent 12.64237%, transparent 17.47153%, #444 17.47153%, #444 30.11389%, transparent 30.11389%, transparent 34.94305%, #444 34.94305%, #444 47.58542%, transparent 47.58542%, transparent 52.41458%, #444 52.41458%, #444 65.05695%, transparent 65.05695%, transparent 69.88611%, #444 69.88611%, #444 82.52847%, transparent 82.52847%, transparent 87.35763%, #444 87.35763%, #444 100.0%, transparent 100.0%);
  height: 100%;
  left: 0;
  margin: 0 auto;
  max-width: 80em;
  opacity: 0.3;
  position: fixed;
  right: 0;
  width: 100%;
  pointer-events: none;
  z-index: 9999; }
  @media screen and (min-width: 30em) {
    body:before {
      background-image: -webkit-linear-gradient(left, transparent 0, #444 0, #444 12.64237%, transparent 12.64237%, transparent 17.47153%, #444 17.47153%, #444 30.11389%, transparent 30.11389%, transparent 34.94305%, #444 34.94305%, #444 47.58542%, transparent 47.58542%, transparent 52.41458%, #444 52.41458%, #444 65.05695%, transparent 65.05695%, transparent 69.88611%, #444 69.88611%, #444 82.52847%, transparent 82.52847%, transparent 87.35763%, #444 87.35763%, #444 100.0%, transparent 100.0%);
      background-image: -moz-linear-gradient(left, transparent 0, #444 0, #444 12.64237%, transparent 12.64237%, transparent 17.47153%, #444 17.47153%, #444 30.11389%, transparent 30.11389%, transparent 34.94305%, #444 34.94305%, #444 47.58542%, transparent 47.58542%, transparent 52.41458%, #444 52.41458%, #444 65.05695%, transparent 65.05695%, transparent 69.88611%, #444 69.88611%, #444 82.52847%, transparent 82.52847%, transparent 87.35763%, #444 87.35763%, #444 100.0%, transparent 100.0%);
      background-image: -ms-linear-gradient(left, transparent 0, #444 0, #444 12.64237%, transparent 12.64237%, transparent 17.47153%, #444 17.47153%, #444 30.11389%, transparent 30.11389%, transparent 34.94305%, #444 34.94305%, #444 47.58542%, transparent 47.58542%, transparent 52.41458%, #444 52.41458%, #444 65.05695%, transparent 65.05695%, transparent 69.88611%, #444 69.88611%, #444 82.52847%, transparent 82.52847%, transparent 87.35763%, #444 87.35763%, #444 100.0%, transparent 100.0%);
      background-image: -o-linear-gradient(left, transparent 0, #444 0, #444 12.64237%, transparent 12.64237%, transparent 17.47153%, #444 17.47153%, #444 30.11389%, transparent 30.11389%, transparent 34.94305%, #444 34.94305%, #444 47.58542%, transparent 47.58542%, transparent 52.41458%, #444 52.41458%, #444 65.05695%, transparent 65.05695%, transparent 69.88611%, #444 69.88611%, #444 82.52847%, transparent 82.52847%, transparent 87.35763%, #444 87.35763%, #444 100.0%, transparent 100.0%);
      background-image: linear-gradient(to left, transparent 0, #444 0, #444 12.64237%, transparent 12.64237%, transparent 17.47153%, #444 17.47153%, #444 30.11389%, transparent 30.11389%, transparent 34.94305%, #444 34.94305%, #444 47.58542%, transparent 47.58542%, transparent 52.41458%, #444 52.41458%, #444 65.05695%, transparent 65.05695%, transparent 69.88611%, #444 69.88611%, #444 82.52847%, transparent 82.52847%, transparent 87.35763%, #444 87.35763%, #444 100.0%, transparent 100.0%); } }
  @media screen and (min-width: 35em) {
    body:before {
      background-image: -webkit-linear-gradient(left, transparent 0, #444 0, #444 12.64237%, transparent 12.64237%, transparent 17.47153%, #444 17.47153%, #444 30.11389%, transparent 30.11389%, transparent 34.94305%, #444 34.94305%, #444 47.58542%, transparent 47.58542%, transparent 52.41458%, #444 52.41458%, #444 65.05695%, transparent 65.05695%, transparent 69.88611%, #444 69.88611%, #444 82.52847%, transparent 82.52847%, transparent 87.35763%, #444 87.35763%, #444 100.0%, transparent 100.0%);
      background-image: -moz-linear-gradient(left, transparent 0, #444 0, #444 12.64237%, transparent 12.64237%, transparent 17.47153%, #444 17.47153%, #444 30.11389%, transparent 30.11389%, transparent 34.94305%, #444 34.94305%, #444 47.58542%, transparent 47.58542%, transparent 52.41458%, #444 52.41458%, #444 65.05695%, transparent 65.05695%, transparent 69.88611%, #444 69.88611%, #444 82.52847%, transparent 82.52847%, transparent 87.35763%, #444 87.35763%, #444 100.0%, transparent 100.0%);
      background-image: -ms-linear-gradient(left, transparent 0, #444 0, #444 12.64237%, transparent 12.64237%, transparent 17.47153%, #444 17.47153%, #444 30.11389%, transparent 30.11389%, transparent 34.94305%, #444 34.94305%, #444 47.58542%, transparent 47.58542%, transparent 52.41458%, #444 52.41458%, #444 65.05695%, transparent 65.05695%, transparent 69.88611%, #444 69.88611%, #444 82.52847%, transparent 82.52847%, transparent 87.35763%, #444 87.35763%, #444 100.0%, transparent 100.0%);
      background-image: -o-linear-gradient(left, transparent 0, #444 0, #444 12.64237%, transparent 12.64237%, transparent 17.47153%, #444 17.47153%, #444 30.11389%, transparent 30.11389%, transparent 34.94305%, #444 34.94305%, #444 47.58542%, transparent 47.58542%, transparent 52.41458%, #444 52.41458%, #444 65.05695%, transparent 65.05695%, transparent 69.88611%, #444 69.88611%, #444 82.52847%, transparent 82.52847%, transparent 87.35763%, #444 87.35763%, #444 100.0%, transparent 100.0%);
      background-image: linear-gradient(to left, transparent 0, #444 0, #444 12.64237%, transparent 12.64237%, transparent 17.47153%, #444 17.47153%, #444 30.11389%, transparent 30.11389%, transparent 34.94305%, #444 34.94305%, #444 47.58542%, transparent 47.58542%, transparent 52.41458%, #444 52.41458%, #444 65.05695%, transparent 65.05695%, transparent 69.88611%, #444 69.88611%, #444 82.52847%, transparent 82.52847%, transparent 87.35763%, #444 87.35763%, #444 100.0%, transparent 100.0%); } }
  @media screen and (min-width: 40em) {
    body:before {
      background-image: -webkit-linear-gradient(left, transparent 0, #444 0, #444 6.17215%, transparent 6.17215%, transparent 8.5298%, #444 8.5298%, #444 14.70196%, transparent 14.70196%, transparent 17.05961%, #444 17.05961%, #444 23.23176%, transparent 23.23176%, transparent 25.58941%, #444 25.58941%, #444 31.76157%, transparent 31.76157%, transparent 34.11922%, #444 34.11922%, #444 40.29137%, transparent 40.29137%, transparent 42.64902%, #444 42.64902%, #444 48.82117%, transparent 48.82117%, transparent 51.17883%, #444 51.17883%, #444 57.35098%, transparent 57.35098%, transparent 59.70863%, #444 59.70863%, #444 65.88078%, transparent 65.88078%, transparent 68.23843%, #444 68.23843%, #444 74.41059%, transparent 74.41059%, transparent 76.76824%, #444 76.76824%, #444 82.94039%, transparent 82.94039%, transparent 85.29804%, #444 85.29804%, #444 91.4702%, transparent 91.4702%, transparent 93.82785%, #444 93.82785%, #444 100.0%, transparent 100.0%);
      background-image: -moz-linear-gradient(left, transparent 0, #444 0, #444 6.17215%, transparent 6.17215%, transparent 8.5298%, #444 8.5298%, #444 14.70196%, transparent 14.70196%, transparent 17.05961%, #444 17.05961%, #444 23.23176%, transparent 23.23176%, transparent 25.58941%, #444 25.58941%, #444 31.76157%, transparent 31.76157%, transparent 34.11922%, #444 34.11922%, #444 40.29137%, transparent 40.29137%, transparent 42.64902%, #444 42.64902%, #444 48.82117%, transparent 48.82117%, transparent 51.17883%, #444 51.17883%, #444 57.35098%, transparent 57.35098%, transparent 59.70863%, #444 59.70863%, #444 65.88078%, transparent 65.88078%, transparent 68.23843%, #444 68.23843%, #444 74.41059%, transparent 74.41059%, transparent 76.76824%, #444 76.76824%, #444 82.94039%, transparent 82.94039%, transparent 85.29804%, #444 85.29804%, #444 91.4702%, transparent 91.4702%, transparent 93.82785%, #444 93.82785%, #444 100.0%, transparent 100.0%);
      background-image: -ms-linear-gradient(left, transparent 0, #444 0, #444 6.17215%, transparent 6.17215%, transparent 8.5298%, #444 8.5298%, #444 14.70196%, transparent 14.70196%, transparent 17.05961%, #444 17.05961%, #444 23.23176%, transparent 23.23176%, transparent 25.58941%, #444 25.58941%, #444 31.76157%, transparent 31.76157%, transparent 34.11922%, #444 34.11922%, #444 40.29137%, transparent 40.29137%, transparent 42.64902%, #444 42.64902%, #444 48.82117%, transparent 48.82117%, transparent 51.17883%, #444 51.17883%, #444 57.35098%, transparent 57.35098%, transparent 59.70863%, #444 59.70863%, #444 65.88078%, transparent 65.88078%, transparent 68.23843%, #444 68.23843%, #444 74.41059%, transparent 74.41059%, transparent 76.76824%, #444 76.76824%, #444 82.94039%, transparent 82.94039%, transparent 85.29804%, #444 85.29804%, #444 91.4702%, transparent 91.4702%, transparent 93.82785%, #444 93.82785%, #444 100.0%, transparent 100.0%);
      background-image: -o-linear-gradient(left, transparent 0, #444 0, #444 6.17215%, transparent 6.17215%, transparent 8.5298%, #444 8.5298%, #444 14.70196%, transparent 14.70196%, transparent 17.05961%, #444 17.05961%, #444 23.23176%, transparent 23.23176%, transparent 25.58941%, #444 25.58941%, #444 31.76157%, transparent 31.76157%, transparent 34.11922%, #444 34.11922%, #444 40.29137%, transparent 40.29137%, transparent 42.64902%, #444 42.64902%, #444 48.82117%, transparent 48.82117%, transparent 51.17883%, #444 51.17883%, #444 57.35098%, transparent 57.35098%, transparent 59.70863%, #444 59.70863%, #444 65.88078%, transparent 65.88078%, transparent 68.23843%, #444 68.23843%, #444 74.41059%, transparent 74.41059%, transparent 76.76824%, #444 76.76824%, #444 82.94039%, transparent 82.94039%, transparent 85.29804%, #444 85.29804%, #444 91.4702%, transparent 91.4702%, transparent 93.82785%, #444 93.82785%, #444 100.0%, transparent 100.0%);
      background-image: linear-gradient(to left, transparent 0, #444 0, #444 6.17215%, transparent 6.17215%, transparent 8.5298%, #444 8.5298%, #444 14.70196%, transparent 14.70196%, transparent 17.05961%, #444 17.05961%, #444 23.23176%, transparent 23.23176%, transparent 25.58941%, #444 25.58941%, #444 31.76157%, transparent 31.76157%, transparent 34.11922%, #444 34.11922%, #444 40.29137%, transparent 40.29137%, transparent 42.64902%, #444 42.64902%, #444 48.82117%, transparent 48.82117%, transparent 51.17883%, #444 51.17883%, #444 57.35098%, transparent 57.35098%, transparent 59.70863%, #444 59.70863%, #444 65.88078%, transparent 65.88078%, transparent 68.23843%, #444 68.23843%, #444 74.41059%, transparent 74.41059%, transparent 76.76824%, #444 76.76824%, #444 82.94039%, transparent 82.94039%, transparent 85.29804%, #444 85.29804%, #444 91.4702%, transparent 91.4702%, transparent 93.82785%, #444 93.82785%, #444 100.0%, transparent 100.0%); } }
  @media screen and (min-width: 46.875em) {
    body:before {
      background-image: -webkit-linear-gradient(left, transparent 0, #444 0, #444 6.17215%, transparent 6.17215%, transparent 8.5298%, #444 8.5298%, #444 14.70196%, transparent 14.70196%, transparent 17.05961%, #444 17.05961%, #444 23.23176%, transparent 23.23176%, transparent 25.58941%, #444 25.58941%, #444 31.76157%, transparent 31.76157%, transparent 34.11922%, #444 34.11922%, #444 40.29137%, transparent 40.29137%, transparent 42.64902%, #444 42.64902%, #444 48.82117%, transparent 48.82117%, transparent 51.17883%, #444 51.17883%, #444 57.35098%, transparent 57.35098%, transparent 59.70863%, #444 59.70863%, #444 65.88078%, transparent 65.88078%, transparent 68.23843%, #444 68.23843%, #444 74.41059%, transparent 74.41059%, transparent 76.76824%, #444 76.76824%, #444 82.94039%, transparent 82.94039%, transparent 85.29804%, #444 85.29804%, #444 91.4702%, transparent 91.4702%, transparent 93.82785%, #444 93.82785%, #444 100.0%, transparent 100.0%);
      background-image: -moz-linear-gradient(left, transparent 0, #444 0, #444 6.17215%, transparent 6.17215%, transparent 8.5298%, #444 8.5298%, #444 14.70196%, transparent 14.70196%, transparent 17.05961%, #444 17.05961%, #444 23.23176%, transparent 23.23176%, transparent 25.58941%, #444 25.58941%, #444 31.76157%, transparent 31.76157%, transparent 34.11922%, #444 34.11922%, #444 40.29137%, transparent 40.29137%, transparent 42.64902%, #444 42.64902%, #444 48.82117%, transparent 48.82117%, transparent 51.17883%, #444 51.17883%, #444 57.35098%, transparent 57.35098%, transparent 59.70863%, #444 59.70863%, #444 65.88078%, transparent 65.88078%, transparent 68.23843%, #444 68.23843%, #444 74.41059%, transparent 74.41059%, transparent 76.76824%, #444 76.76824%, #444 82.94039%, transparent 82.94039%, transparent 85.29804%, #444 85.29804%, #444 91.4702%, transparent 91.4702%, transparent 93.82785%, #444 93.82785%, #444 100.0%, transparent 100.0%);
      background-image: -ms-linear-gradient(left, transparent 0, #444 0, #444 6.17215%, transparent 6.17215%, transparent 8.5298%, #444 8.5298%, #444 14.70196%, transparent 14.70196%, transparent 17.05961%, #444 17.05961%, #444 23.23176%, transparent 23.23176%, transparent 25.58941%, #444 25.58941%, #444 31.76157%, transparent 31.76157%, transparent 34.11922%, #444 34.11922%, #444 40.29137%, transparent 40.29137%, transparent 42.64902%, #444 42.64902%, #444 48.82117%, transparent 48.82117%, transparent 51.17883%, #444 51.17883%, #444 57.35098%, transparent 57.35098%, transparent 59.70863%, #444 59.70863%, #444 65.88078%, transparent 65.88078%, transparent 68.23843%, #444 68.23843%, #444 74.41059%, transparent 74.41059%, transparent 76.76824%, #444 76.76824%, #444 82.94039%, transparent 82.94039%, transparent 85.29804%, #444 85.29804%, #444 91.4702%, transparent 91.4702%, transparent 93.82785%, #444 93.82785%, #444 100.0%, transparent 100.0%);
      background-image: -o-linear-gradient(left, transparent 0, #444 0, #444 6.17215%, transparent 6.17215%, transparent 8.5298%, #444 8.5298%, #444 14.70196%, transparent 14.70196%, transparent 17.05961%, #444 17.05961%, #444 23.23176%, transparent 23.23176%, transparent 25.58941%, #444 25.58941%, #444 31.76157%, transparent 31.76157%, transparent 34.11922%, #444 34.11922%, #444 40.29137%, transparent 40.29137%, transparent 42.64902%, #444 42.64902%, #444 48.82117%, transparent 48.82117%, transparent 51.17883%, #444 51.17883%, #444 57.35098%, transparent 57.35098%, transparent 59.70863%, #444 59.70863%, #444 65.88078%, transparent 65.88078%, transparent 68.23843%, #444 68.23843%, #444 74.41059%, transparent 74.41059%, transparent 76.76824%, #444 76.76824%, #444 82.94039%, transparent 82.94039%, transparent 85.29804%, #444 85.29804%, #444 91.4702%, transparent 91.4702%, transparent 93.82785%, #444 93.82785%, #444 100.0%, transparent 100.0%);
      background-image: linear-gradient(to left, transparent 0, #444 0, #444 6.17215%, transparent 6.17215%, transparent 8.5298%, #444 8.5298%, #444 14.70196%, transparent 14.70196%, transparent 17.05961%, #444 17.05961%, #444 23.23176%, transparent 23.23176%, transparent 25.58941%, #444 25.58941%, #444 31.76157%, transparent 31.76157%, transparent 34.11922%, #444 34.11922%, #444 40.29137%, transparent 40.29137%, transparent 42.64902%, #444 42.64902%, #444 48.82117%, transparent 48.82117%, transparent 51.17883%, #444 51.17883%, #444 57.35098%, transparent 57.35098%, transparent 59.70863%, #444 59.70863%, #444 65.88078%, transparent 65.88078%, transparent 68.23843%, #444 68.23843%, #444 74.41059%, transparent 74.41059%, transparent 76.76824%, #444 76.76824%, #444 82.94039%, transparent 82.94039%, transparent 85.29804%, #444 85.29804%, #444 91.4702%, transparent 91.4702%, transparent 93.82785%, #444 93.82785%, #444 100.0%, transparent 100.0%); } }
  @media screen and (min-width: 53.75em) {
    body:before {
      background-image: -webkit-linear-gradient(left, transparent 0, #444 0, #444 6.17215%, transparent 6.17215%, transparent 8.5298%, #444 8.5298%, #444 14.70196%, transparent 14.70196%, transparent 17.05961%, #444 17.05961%, #444 23.23176%, transparent 23.23176%, transparent 25.58941%, #444 25.58941%, #444 31.76157%, transparent 31.76157%, transparent 34.11922%, #444 34.11922%, #444 40.29137%, transparent 40.29137%, transparent 42.64902%, #444 42.64902%, #444 48.82117%, transparent 48.82117%, transparent 51.17883%, #444 51.17883%, #444 57.35098%, transparent 57.35098%, transparent 59.70863%, #444 59.70863%, #444 65.88078%, transparent 65.88078%, transparent 68.23843%, #444 68.23843%, #444 74.41059%, transparent 74.41059%, transparent 76.76824%, #444 76.76824%, #444 82.94039%, transparent 82.94039%, transparent 85.29804%, #444 85.29804%, #444 91.4702%, transparent 91.4702%, transparent 93.82785%, #444 93.82785%, #444 100.0%, transparent 100.0%);
      background-image: -moz-linear-gradient(left, transparent 0, #444 0, #444 6.17215%, transparent 6.17215%, transparent 8.5298%, #444 8.5298%, #444 14.70196%, transparent 14.70196%, transparent 17.05961%, #444 17.05961%, #444 23.23176%, transparent 23.23176%, transparent 25.58941%, #444 25.58941%, #444 31.76157%, transparent 31.76157%, transparent 34.11922%, #444 34.11922%, #444 40.29137%, transparent 40.29137%, transparent 42.64902%, #444 42.64902%, #444 48.82117%, transparent 48.82117%, transparent 51.17883%, #444 51.17883%, #444 57.35098%, transparent 57.35098%, transparent 59.70863%, #444 59.70863%, #444 65.88078%, transparent 65.88078%, transparent 68.23843%, #444 68.23843%, #444 74.41059%, transparent 74.41059%, transparent 76.76824%, #444 76.76824%, #444 82.94039%, transparent 82.94039%, transparent 85.29804%, #444 85.29804%, #444 91.4702%, transparent 91.4702%, transparent 93.82785%, #444 93.82785%, #444 100.0%, transparent 100.0%);
      background-image: -ms-linear-gradient(left, transparent 0, #444 0, #444 6.17215%, transparent 6.17215%, transparent 8.5298%, #444 8.5298%, #444 14.70196%, transparent 14.70196%, transparent 17.05961%, #444 17.05961%, #444 23.23176%, transparent 23.23176%, transparent 25.58941%, #444 25.58941%, #444 31.76157%, transparent 31.76157%, transparent 34.11922%, #444 34.11922%, #444 40.29137%, transparent 40.29137%, transparent 42.64902%, #444 42.64902%, #444 48.82117%, transparent 48.82117%, transparent 51.17883%, #444 51.17883%, #444 57.35098%, transparent 57.35098%, transparent 59.70863%, #444 59.70863%, #444 65.88078%, transparent 65.88078%, transparent 68.23843%, #444 68.23843%, #444 74.41059%, transparent 74.41059%, transparent 76.76824%, #444 76.76824%, #444 82.94039%, transparent 82.94039%, transparent 85.29804%, #444 85.29804%, #444 91.4702%, transparent 91.4702%, transparent 93.82785%, #444 93.82785%, #444 100.0%, transparent 100.0%);
      background-image: -o-linear-gradient(left, transparent 0, #444 0, #444 6.17215%, transparent 6.17215%, transparent 8.5298%, #444 8.5298%, #444 14.70196%, transparent 14.70196%, transparent 17.05961%, #444 17.05961%, #444 23.23176%, transparent 23.23176%, transparent 25.58941%, #444 25.58941%, #444 31.76157%, transparent 31.76157%, transparent 34.11922%, #444 34.11922%, #444 40.29137%, transparent 40.29137%, transparent 42.64902%, #444 42.64902%, #444 48.82117%, transparent 48.82117%, transparent 51.17883%, #444 51.17883%, #444 57.35098%, transparent 57.35098%, transparent 59.70863%, #444 59.70863%, #444 65.88078%, transparent 65.88078%, transparent 68.23843%, #444 68.23843%, #444 74.41059%, transparent 74.41059%, transparent 76.76824%, #444 76.76824%, #444 82.94039%, transparent 82.94039%, transparent 85.29804%, #444 85.29804%, #444 91.4702%, transparent 91.4702%, transparent 93.82785%, #444 93.82785%, #444 100.0%, transparent 100.0%);
      background-image: linear-gradient(to left, transparent 0, #444 0, #444 6.17215%, transparent 6.17215%, transparent 8.5298%, #444 8.5298%, #444 14.70196%, transparent 14.70196%, transparent 17.05961%, #444 17.05961%, #444 23.23176%, transparent 23.23176%, transparent 25.58941%, #444 25.58941%, #444 31.76157%, transparent 31.76157%, transparent 34.11922%, #444 34.11922%, #444 40.29137%, transparent 40.29137%, transparent 42.64902%, #444 42.64902%, #444 48.82117%, transparent 48.82117%, transparent 51.17883%, #444 51.17883%, #444 57.35098%, transparent 57.35098%, transparent 59.70863%, #444 59.70863%, #444 65.88078%, transparent 65.88078%, transparent 68.23843%, #444 68.23843%, #444 74.41059%, transparent 74.41059%, transparent 76.76824%, #444 76.76824%, #444 82.94039%, transparent 82.94039%, transparent 85.29804%, #444 85.29804%, #444 91.4702%, transparent 91.4702%, transparent 93.82785%, #444 93.82785%, #444 100.0%, transparent 100.0%); } }
  @media screen and (min-width: 60.625em) {
    body:before {
      background-image: -webkit-linear-gradient(left, transparent 0, #444 0, #444 6.17215%, transparent 6.17215%, transparent 8.5298%, #444 8.5298%, #444 14.70196%, transparent 14.70196%, transparent 17.05961%, #444 17.05961%, #444 23.23176%, transparent 23.23176%, transparent 25.58941%, #444 25.58941%, #444 31.76157%, transparent 31.76157%, transparent 34.11922%, #444 34.11922%, #444 40.29137%, transparent 40.29137%, transparent 42.64902%, #444 42.64902%, #444 48.82117%, transparent 48.82117%, transparent 51.17883%, #444 51.17883%, #444 57.35098%, transparent 57.35098%, transparent 59.70863%, #444 59.70863%, #444 65.88078%, transparent 65.88078%, transparent 68.23843%, #444 68.23843%, #444 74.41059%, transparent 74.41059%, transparent 76.76824%, #444 76.76824%, #444 82.94039%, transparent 82.94039%, transparent 85.29804%, #444 85.29804%, #444 91.4702%, transparent 91.4702%, transparent 93.82785%, #444 93.82785%, #444 100.0%, transparent 100.0%);
      background-image: -moz-linear-gradient(left, transparent 0, #444 0, #444 6.17215%, transparent 6.17215%, transparent 8.5298%, #444 8.5298%, #444 14.70196%, transparent 14.70196%, transparent 17.05961%, #444 17.05961%, #444 23.23176%, transparent 23.23176%, transparent 25.58941%, #444 25.58941%, #444 31.76157%, transparent 31.76157%, transparent 34.11922%, #444 34.11922%, #444 40.29137%, transparent 40.29137%, transparent 42.64902%, #444 42.64902%, #444 48.82117%, transparent 48.82117%, transparent 51.17883%, #444 51.17883%, #444 57.35098%, transparent 57.35098%, transparent 59.70863%, #444 59.70863%, #444 65.88078%, transparent 65.88078%, transparent 68.23843%, #444 68.23843%, #444 74.41059%, transparent 74.41059%, transparent 76.76824%, #444 76.76824%, #444 82.94039%, transparent 82.94039%, transparent 85.29804%, #444 85.29804%, #444 91.4702%, transparent 91.4702%, transparent 93.82785%, #444 93.82785%, #444 100.0%, transparent 100.0%);
      background-image: -ms-linear-gradient(left, transparent 0, #444 0, #444 6.17215%, transparent 6.17215%, transparent 8.5298%, #444 8.5298%, #444 14.70196%, transparent 14.70196%, transparent 17.05961%, #444 17.05961%, #444 23.23176%, transparent 23.23176%, transparent 25.58941%, #444 25.58941%, #444 31.76157%, transparent 31.76157%, transparent 34.11922%, #444 34.11922%, #444 40.29137%, transparent 40.29137%, transparent 42.64902%, #444 42.64902%, #444 48.82117%, transparent 48.82117%, transparent 51.17883%, #444 51.17883%, #444 57.35098%, transparent 57.35098%, transparent 59.70863%, #444 59.70863%, #444 65.88078%, transparent 65.88078%, transparent 68.23843%, #444 68.23843%, #444 74.41059%, transparent 74.41059%, transparent 76.76824%, #444 76.76824%, #444 82.94039%, transparent 82.94039%, transparent 85.29804%, #444 85.29804%, #444 91.4702%, transparent 91.4702%, transparent 93.82785%, #444 93.82785%, #444 100.0%, transparent 100.0%);
      background-image: -o-linear-gradient(left, transparent 0, #444 0, #444 6.17215%, transparent 6.17215%, transparent 8.5298%, #444 8.5298%, #444 14.70196%, transparent 14.70196%, transparent 17.05961%, #444 17.05961%, #444 23.23176%, transparent 23.23176%, transparent 25.58941%, #444 25.58941%, #444 31.76157%, transparent 31.76157%, transparent 34.11922%, #444 34.11922%, #444 40.29137%, transparent 40.29137%, transparent 42.64902%, #444 42.64902%, #444 48.82117%, transparent 48.82117%, transparent 51.17883%, #444 51.17883%, #444 57.35098%, transparent 57.35098%, transparent 59.70863%, #444 59.70863%, #444 65.88078%, transparent 65.88078%, transparent 68.23843%, #444 68.23843%, #444 74.41059%, transparent 74.41059%, transparent 76.76824%, #444 76.76824%, #444 82.94039%, transparent 82.94039%, transparent 85.29804%, #444 85.29804%, #444 91.4702%, transparent 91.4702%, transparent 93.82785%, #444 93.82785%, #444 100.0%, transparent 100.0%);
      background-image: linear-gradient(to left, transparent 0, #444 0, #444 6.17215%, transparent 6.17215%, transparent 8.5298%, #444 8.5298%, #444 14.70196%, transparent 14.70196%, transparent 17.05961%, #444 17.05961%, #444 23.23176%, transparent 23.23176%, transparent 25.58941%, #444 25.58941%, #444 31.76157%, transparent 31.76157%, transparent 34.11922%, #444 34.11922%, #444 40.29137%, transparent 40.29137%, transparent 42.64902%, #444 42.64902%, #444 48.82117%, transparent 48.82117%, transparent 51.17883%, #444 51.17883%, #444 57.35098%, transparent 57.35098%, transparent 59.70863%, #444 59.70863%, #444 65.88078%, transparent 65.88078%, transparent 68.23843%, #444 68.23843%, #444 74.41059%, transparent 74.41059%, transparent 76.76824%, #444 76.76824%, #444 82.94039%, transparent 82.94039%, transparent 85.29804%, #444 85.29804%, #444 91.4702%, transparent 91.4702%, transparent 93.82785%, #444 93.82785%, #444 100.0%, transparent 100.0%); } }
  @media screen and (min-width: 68em) {
    body:before {
      background-image: -webkit-linear-gradient(left, transparent 0, #444 0, #444 6.17215%, transparent 6.17215%, transparent 8.5298%, #444 8.5298%, #444 14.70196%, transparent 14.70196%, transparent 17.05961%, #444 17.05961%, #444 23.23176%, transparent 23.23176%, transparent 25.58941%, #444 25.58941%, #444 31.76157%, transparent 31.76157%, transparent 34.11922%, #444 34.11922%, #444 40.29137%, transparent 40.29137%, transparent 42.64902%, #444 42.64902%, #444 48.82117%, transparent 48.82117%, transparent 51.17883%, #444 51.17883%, #444 57.35098%, transparent 57.35098%, transparent 59.70863%, #444 59.70863%, #444 65.88078%, transparent 65.88078%, transparent 68.23843%, #444 68.23843%, #444 74.41059%, transparent 74.41059%, transparent 76.76824%, #444 76.76824%, #444 82.94039%, transparent 82.94039%, transparent 85.29804%, #444 85.29804%, #444 91.4702%, transparent 91.4702%, transparent 93.82785%, #444 93.82785%, #444 100.0%, transparent 100.0%);
      background-image: -moz-linear-gradient(left, transparent 0, #444 0, #444 6.17215%, transparent 6.17215%, transparent 8.5298%, #444 8.5298%, #444 14.70196%, transparent 14.70196%, transparent 17.05961%, #444 17.05961%, #444 23.23176%, transparent 23.23176%, transparent 25.58941%, #444 25.58941%, #444 31.76157%, transparent 31.76157%, transparent 34.11922%, #444 34.11922%, #444 40.29137%, transparent 40.29137%, transparent 42.64902%, #444 42.64902%, #444 48.82117%, transparent 48.82117%, transparent 51.17883%, #444 51.17883%, #444 57.35098%, transparent 57.35098%, transparent 59.70863%, #444 59.70863%, #444 65.88078%, transparent 65.88078%, transparent 68.23843%, #444 68.23843%, #444 74.41059%, transparent 74.41059%, transparent 76.76824%, #444 76.76824%, #444 82.94039%, transparent 82.94039%, transparent 85.29804%, #444 85.29804%, #444 91.4702%, transparent 91.4702%, transparent 93.82785%, #444 93.82785%, #444 100.0%, transparent 100.0%);
      background-image: -ms-linear-gradient(left, transparent 0, #444 0, #444 6.17215%, transparent 6.17215%, transparent 8.5298%, #444 8.5298%, #444 14.70196%, transparent 14.70196%, transparent 17.05961%, #444 17.05961%, #444 23.23176%, transparent 23.23176%, transparent 25.58941%, #444 25.58941%, #444 31.76157%, transparent 31.76157%, transparent 34.11922%, #444 34.11922%, #444 40.29137%, transparent 40.29137%, transparent 42.64902%, #444 42.64902%, #444 48.82117%, transparent 48.82117%, transparent 51.17883%, #444 51.17883%, #444 57.35098%, transparent 57.35098%, transparent 59.70863%, #444 59.70863%, #444 65.88078%, transparent 65.88078%, transparent 68.23843%, #444 68.23843%, #444 74.41059%, transparent 74.41059%, transparent 76.76824%, #444 76.76824%, #444 82.94039%, transparent 82.94039%, transparent 85.29804%, #444 85.29804%, #444 91.4702%, transparent 91.4702%, transparent 93.82785%, #444 93.82785%, #444 100.0%, transparent 100.0%);
      background-image: -o-linear-gradient(left, transparent 0, #444 0, #444 6.17215%, transparent 6.17215%, transparent 8.5298%, #444 8.5298%, #444 14.70196%, transparent 14.70196%, transparent 17.05961%, #444 17.05961%, #444 23.23176%, transparent 23.23176%, transparent 25.58941%, #444 25.58941%, #444 31.76157%, transparent 31.76157%, transparent 34.11922%, #444 34.11922%, #444 40.29137%, transparent 40.29137%, transparent 42.64902%, #444 42.64902%, #444 48.82117%, transparent 48.82117%, transparent 51.17883%, #444 51.17883%, #444 57.35098%, transparent 57.35098%, transparent 59.70863%, #444 59.70863%, #444 65.88078%, transparent 65.88078%, transparent 68.23843%, #444 68.23843%, #444 74.41059%, transparent 74.41059%, transparent 76.76824%, #444 76.76824%, #444 82.94039%, transparent 82.94039%, transparent 85.29804%, #444 85.29804%, #444 91.4702%, transparent 91.4702%, transparent 93.82785%, #444 93.82785%, #444 100.0%, transparent 100.0%);
      background-image: linear-gradient(to left, transparent 0, #444 0, #444 6.17215%, transparent 6.17215%, transparent 8.5298%, #444 8.5298%, #444 14.70196%, transparent 14.70196%, transparent 17.05961%, #444 17.05961%, #444 23.23176%, transparent 23.23176%, transparent 25.58941%, #444 25.58941%, #444 31.76157%, transparent 31.76157%, transparent 34.11922%, #444 34.11922%, #444 40.29137%, transparent 40.29137%, transparent 42.64902%, #444 42.64902%, #444 48.82117%, transparent 48.82117%, transparent 51.17883%, #444 51.17883%, #444 57.35098%, transparent 57.35098%, transparent 59.70863%, #444 59.70863%, #444 65.88078%, transparent 65.88078%, transparent 68.23843%, #444 68.23843%, #444 74.41059%, transparent 74.41059%, transparent 76.76824%, #444 76.76824%, #444 82.94039%, transparent 82.94039%, transparent 85.29804%, #444 85.29804%, #444 91.4702%, transparent 91.4702%, transparent 93.82785%, #444 93.82785%, #444 100.0%, transparent 100.0%); } }
  @media screen and (min-width: 80em) {
    body:before {
      background-image: -webkit-linear-gradient(left, transparent 0, #444 0, #444 6.17215%, transparent 6.17215%, transparent 8.5298%, #444 8.5298%, #444 14.70196%, transparent 14.70196%, transparent 17.05961%, #444 17.05961%, #444 23.23176%, transparent 23.23176%, transparent 25.58941%, #444 25.58941%, #444 31.76157%, transparent 31.76157%, transparent 34.11922%, #444 34.11922%, #444 40.29137%, transparent 40.29137%, transparent 42.64902%, #444 42.64902%, #444 48.82117%, transparent 48.82117%, transparent 51.17883%, #444 51.17883%, #444 57.35098%, transparent 57.35098%, transparent 59.70863%, #444 59.70863%, #444 65.88078%, transparent 65.88078%, transparent 68.23843%, #444 68.23843%, #444 74.41059%, transparent 74.41059%, transparent 76.76824%, #444 76.76824%, #444 82.94039%, transparent 82.94039%, transparent 85.29804%, #444 85.29804%, #444 91.4702%, transparent 91.4702%, transparent 93.82785%, #444 93.82785%, #444 100.0%, transparent 100.0%);
      background-image: -moz-linear-gradient(left, transparent 0, #444 0, #444 6.17215%, transparent 6.17215%, transparent 8.5298%, #444 8.5298%, #444 14.70196%, transparent 14.70196%, transparent 17.05961%, #444 17.05961%, #444 23.23176%, transparent 23.23176%, transparent 25.58941%, #444 25.58941%, #444 31.76157%, transparent 31.76157%, transparent 34.11922%, #444 34.11922%, #444 40.29137%, transparent 40.29137%, transparent 42.64902%, #444 42.64902%, #444 48.82117%, transparent 48.82117%, transparent 51.17883%, #444 51.17883%, #444 57.35098%, transparent 57.35098%, transparent 59.70863%, #444 59.70863%, #444 65.88078%, transparent 65.88078%, transparent 68.23843%, #444 68.23843%, #444 74.41059%, transparent 74.41059%, transparent 76.76824%, #444 76.76824%, #444 82.94039%, transparent 82.94039%, transparent 85.29804%, #444 85.29804%, #444 91.4702%, transparent 91.4702%, transparent 93.82785%, #444 93.82785%, #444 100.0%, transparent 100.0%);
      background-image: -ms-linear-gradient(left, transparent 0, #444 0, #444 6.17215%, transparent 6.17215%, transparent 8.5298%, #444 8.5298%, #444 14.70196%, transparent 14.70196%, transparent 17.05961%, #444 17.05961%, #444 23.23176%, transparent 23.23176%, transparent 25.58941%, #444 25.58941%, #444 31.76157%, transparent 31.76157%, transparent 34.11922%, #444 34.11922%, #444 40.29137%, transparent 40.29137%, transparent 42.64902%, #444 42.64902%, #444 48.82117%, transparent 48.82117%, transparent 51.17883%, #444 51.17883%, #444 57.35098%, transparent 57.35098%, transparent 59.70863%, #444 59.70863%, #444 65.88078%, transparent 65.88078%, transparent 68.23843%, #444 68.23843%, #444 74.41059%, transparent 74.41059%, transparent 76.76824%, #444 76.76824%, #444 82.94039%, transparent 82.94039%, transparent 85.29804%, #444 85.29804%, #444 91.4702%, transparent 91.4702%, transparent 93.82785%, #444 93.82785%, #444 100.0%, transparent 100.0%);
      background-image: -o-linear-gradient(left, transparent 0, #444 0, #444 6.17215%, transparent 6.17215%, transparent 8.5298%, #444 8.5298%, #444 14.70196%, transparent 14.70196%, transparent 17.05961%, #444 17.05961%, #444 23.23176%, transparent 23.23176%, transparent 25.58941%, #444 25.58941%, #444 31.76157%, transparent 31.76157%, transparent 34.11922%, #444 34.11922%, #444 40.29137%, transparent 40.29137%, transparent 42.64902%, #444 42.64902%, #444 48.82117%, transparent 48.82117%, transparent 51.17883%, #444 51.17883%, #444 57.35098%, transparent 57.35098%, transparent 59.70863%, #444 59.70863%, #444 65.88078%, transparent 65.88078%, transparent 68.23843%, #444 68.23843%, #444 74.41059%, transparent 74.41059%, transparent 76.76824%, #444 76.76824%, #444 82.94039%, transparent 82.94039%, transparent 85.29804%, #444 85.29804%, #444 91.4702%, transparent 91.4702%, transparent 93.82785%, #444 93.82785%, #444 100.0%, transparent 100.0%);
      background-image: linear-gradient(to left, transparent 0, #444 0, #444 6.17215%, transparent 6.17215%, transparent 8.5298%, #444 8.5298%, #444 14.70196%, transparent 14.70196%, transparent 17.05961%, #444 17.05961%, #444 23.23176%, transparent 23.23176%, transparent 25.58941%, #444 25.58941%, #444 31.76157%, transparent 31.76157%, transparent 34.11922%, #444 34.11922%, #444 40.29137%, transparent 40.29137%, transparent 42.64902%, #444 42.64902%, #444 48.82117%, transparent 48.82117%, transparent 51.17883%, #444 51.17883%, #444 57.35098%, transparent 57.35098%, transparent 59.70863%, #444 59.70863%, #444 65.88078%, transparent 65.88078%, transparent 68.23843%, #444 68.23843%, #444 74.41059%, transparent 74.41059%, transparent 76.76824%, #444 76.76824%, #444 82.94039%, transparent 82.94039%, transparent 85.29804%, #444 85.29804%, #444 91.4702%, transparent 91.4702%, transparent 93.82785%, #444 93.82785%, #444 100.0%, transparent 100.0%); } }

h1 {
  font-family: "Oswald", sans-serif;
  font-size: 2.6267rem;
  line-height: 3.25rem;
  margin-top: 1.625rem;
  margin-bottom: 3.25rem; }
  @media screen and (min-width: 53.75em) {
    h1 {
      font-size: 4.25rem;
      line-height: 4.875rem; } }

h2 {
  font-family: "Oswald", sans-serif;
  font-size: 1.62237rem;
  line-height: 3.25rem;
  margin-top: 1.625rem;
  margin-bottom: 3.25rem; }
  @media screen and (min-width: 53.75em) {
    h2 {
      font-size: 2.625rem;
      line-height: 3.25rem; } }

h3 {
  font-family: "Oswald", sans-serif;
  font-size: 1.625rem;
  line-height: 1.625rem;
  margin-top: 1.625rem;
  margin-bottom: 1.625rem; }
  @media screen and (min-width: 53.75em) {
    h3 {
      font-size: 1.625rem;
      line-height: 1.625rem; } }

h4 {
  font-family: "Oswald", sans-serif;
  font-size: 1rem;
  line-height: 1.625rem;
  margin-top: 1.625rem;
  margin-bottom: 1.625rem; }
  @media screen and (min-width: 53.75em) {
    h4 {
      font-size: 1rem;
      line-height: 1.625rem; } }

body {
  -webkit-font-smoothing: antialiased;
  background-color: white;
  color: #191919;
  font-family: "Roboto", serif;
  font-size: 1rem;
  line-height: 1.625rem; }

h1,
h2,
h3,
h4,
h5,
h6 {
  text-rendering: optimizeLegibility; }

p {
  margin: 0 0 0.75em; }

a {
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  transition: color 0.1s linear;
  color: #685C79;
  text-decoration: none; }
  a:hover {
    color: #433b4e; }
  a:active, a:focus {
    color: #433b4e;
    outline: none; }

hr {
  border-bottom: 1px solid #DDD;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.5em 0; }

img,
picture {
  margin: 0;
  max-width: 100%; }

blockquote {
  border-left: 2px solid #DDD;
  color: #3f3f3f;
  margin: 1.5em 0;
  padding-left: 0.75em; }

cite {
  color: #595959;
  font-style: italic; }
  cite:before {
    content: "\2014 \00A0"; }

nav.global-nav,
nav.global-nav-skills {
  float: left;
  display: block;
  margin-right: 4.82916%;
  width: 100%; }
  nav.global-nav:last-child,
  nav.global-nav-skills:last-child {
    margin-right: 0; }
  nav.global-nav::after,
  nav.global-nav-skills::after {
    clear: both;
    content: "";
    display: table; }
  nav.global-nav .container,
  nav.global-nav-skills .container {
    padding: 0; }
    @media screen and (min-width: 40em) {
      nav.global-nav .container,
      nav.global-nav-skills .container {
        padding: 0 0.75em; } }
  nav.global-nav ul,
  nav.global-nav-skills ul {
    margin: 0;
    padding: 0;
    list-style: none; }
  nav.global-nav a,
  nav.global-nav-skills a {
    display: block;
    padding: 0.75em;
    text-align: center;
    color: #ffffff; }
    @media screen and (min-width: 40em) {
      nav.global-nav a,
      nav.global-nav-skills a {
        text-align: left; } }

nav.global-nav {
  background-color: #DA727E; }
  nav.global-nav li {
    float: left;
    display: block;
    margin-right: 4.82916%;
    width: 47.58542%; }
    nav.global-nav li:last-child {
      margin-right: 0; }
    @media screen and (min-width: 40em) {
      nav.global-nav li {
        width: auto; } }

nav.global-nav-skills {
  background-color: #AC6C82; }
  nav.global-nav-skills .menu-toggle {
    float: left;
    display: block;
    margin-right: 4.82916%;
    width: 100%;
    text-align: left;
    padding-left: 20%; }
    nav.global-nav-skills .menu-toggle:last-child {
      margin-right: 0; }
    @media screen and (min-width: 40em) {
      nav.global-nav-skills .menu-toggle {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 14.70196%;
        text-align: right;
        cursor: default;
        padding-left: 0; }
        nav.global-nav-skills .menu-toggle:last-child {
          margin-right: 0; }
        nav.global-nav-skills .menu-toggle:hover {
          color: #477DCA; } }
  nav.global-nav-skills ul {
    float: left;
    display: block;
    margin-right: 4.82916%;
    width: 100%;
    display: none; }
    nav.global-nav-skills ul:last-child {
      margin-right: 0; }
    @media screen and (min-width: 40em) {
      nav.global-nav-skills ul {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 82.94039%; }
        nav.global-nav-skills ul:last-child {
          margin-right: 0; } }
    nav.global-nav-skills ul.active {
      display: block; }
      @media screen and (min-width: 40em) {
        nav.global-nav-skills ul.active {
          display: block; } }
  nav.global-nav-skills li {
    float: left;
    display: block;
    margin-right: 4.82916%;
    width: 100%; }
    nav.global-nav-skills li:last-child {
      margin-right: 0; }
    @media screen and (min-width: 40em) {
      nav.global-nav-skills li {
        width: auto;
        float: left; } }

body {
  background-color: darkred; }
  @media screen and (min-width: 30em) {
    body {
      background-color: red; } }
  @media screen and (min-width: 35em) {
    body {
      background-color: orange; } }
  @media screen and (min-width: 40em) {
    body {
      background-color: yellow; } }
  @media screen and (min-width: 46.875em) {
    body {
      background-color: greenyellow; } }
  @media screen and (min-width: 53.75em) {
    body {
      background-color: limegreen; } }
  @media screen and (min-width: 60.625em) {
    body {
      background-color: greenyellow; } }
  @media screen and (min-width: 68em) {
    body {
      background-color: deepskyblue; } }
  @media screen and (min-width: 80em) {
    body {
      background-color: dodgerblue; } }

header,
section {
  clear: both; }
  header::after,
  section::after {
    clear: both;
    content: "";
    display: table; }

.container {
  max-width: 80em;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5em 0.75em; }
  .container::after {
    clear: both;
    content: "";
    display: table; }

@media screen and (min-width: 40em) {
  .skill h1,
  .skill h2,
  .skill h3,
  .skill h4,
  .skill p,
  .skill ul,
  .projects h1,
  .projects h2,
  .projects h3,
  .projects h4,
  .projects p,
  .projects ul,
  .project-item h1,
  .project-item h2,
  .project-item h3,
  .project-item h4,
  .project-item p,
  .project-item ul {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 82.94039%;
    margin-left: 8.5298%; }
    .skill h1:last-child,
    .skill h2:last-child,
    .skill h3:last-child,
    .skill h4:last-child,
    .skill p:last-child,
    .skill ul:last-child,
    .projects h1:last-child,
    .projects h2:last-child,
    .projects h3:last-child,
    .projects h4:last-child,
    .projects p:last-child,
    .projects ul:last-child,
    .project-item h1:last-child,
    .project-item h2:last-child,
    .project-item h3:last-child,
    .project-item h4:last-child,
    .project-item p:last-child,
    .project-item ul:last-child {
      margin-right: 0; } }
@media screen and (min-width: 53.75em) {
  .skill h1,
  .skill h2,
  .skill h3,
  .skill h4,
  .skill p,
  .skill ul,
  .projects h1,
  .projects h2,
  .projects h3,
  .projects h4,
  .projects p,
  .projects ul,
  .project-item h1,
  .project-item h2,
  .project-item h3,
  .project-item h4,
  .project-item p,
  .project-item ul {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 65.88078%;
    margin-left: 17.05961%; }
    .skill h1:last-child,
    .skill h2:last-child,
    .skill h3:last-child,
    .skill h4:last-child,
    .skill p:last-child,
    .skill ul:last-child,
    .projects h1:last-child,
    .projects h2:last-child,
    .projects h3:last-child,
    .projects h4:last-child,
    .projects p:last-child,
    .projects ul:last-child,
    .project-item h1:last-child,
    .project-item h2:last-child,
    .project-item h3:last-child,
    .project-item h4:last-child,
    .project-item p:last-child,
    .project-item ul:last-child {
      margin-right: 0; } }
@media screen and (min-width: 68em) {
  .skill h1,
  .skill h2,
  .skill h3,
  .skill h4,
  .skill p,
  .skill ul,
  .projects h1,
  .projects h2,
  .projects h3,
  .projects h4,
  .projects p,
  .projects ul,
  .project-item h1,
  .project-item h2,
  .project-item h3,
  .project-item h4,
  .project-item p,
  .project-item ul {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 57.35098%;
    margin-left: 17.05961%; }
    .skill h1:last-child,
    .skill h2:last-child,
    .skill h3:last-child,
    .skill h4:last-child,
    .skill p:last-child,
    .skill ul:last-child,
    .projects h1:last-child,
    .projects h2:last-child,
    .projects h3:last-child,
    .projects h4:last-child,
    .projects p:last-child,
    .projects ul:last-child,
    .project-item h1:last-child,
    .project-item h2:last-child,
    .project-item h3:last-child,
    .project-item h4:last-child,
    .project-item p:last-child,
    .project-item ul:last-child {
      margin-right: 0; } }
@media screen and (min-width: 80em) {
  .skill h1,
  .skill h2,
  .skill h3,
  .skill h4,
  .skill p,
  .skill ul,
  .projects h1,
  .projects h2,
  .projects h3,
  .projects h4,
  .projects p,
  .projects ul,
  .project-item h1,
  .project-item h2,
  .project-item h3,
  .project-item h4,
  .project-item p,
  .project-item ul {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%;
    margin-left: 17.05961%; }
    .skill h1:last-child,
    .skill h2:last-child,
    .skill h3:last-child,
    .skill h4:last-child,
    .skill p:last-child,
    .skill ul:last-child,
    .projects h1:last-child,
    .projects h2:last-child,
    .projects h3:last-child,
    .projects h4:last-child,
    .projects p:last-child,
    .projects ul:last-child,
    .project-item h1:last-child,
    .project-item h2:last-child,
    .project-item h3:last-child,
    .project-item h4:last-child,
    .project-item p:last-child,
    .project-item ul:last-child {
      margin-right: 0; } }

.projectList::after {
  clear: both;
  content: "";
  display: table; }

.projectList-article {
  position: relative;
  margin-bottom: 1.5em;
  background-color: #191919;
  box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);
  float: left;
  display: block;
  margin-right: 4.82916%;
  width: 100%; }
  .projectList-article:last-child {
    margin-right: 0; }
  @media screen and (min-width: 35em) {
    .projectList-article {
      float: left;
      display: block;
      margin-right: 4.82916%;
      width: 47.58542%; }
      .projectList-article:last-child {
        margin-right: 0; }
      .projectList-article:nth-child(2n) {
        margin-right: 0; }
      .projectList-article:nth-child(2n+1) {
        clear: left; } }
  @media screen and (min-width: 53.75em) {
    .projectList-article {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 31.76157%; }
      .projectList-article:nth-child(2n) {
        margin-right: 2.35765%; }
      .projectList-article:nth-child(2n+1) {
        clear: none; }
      .projectList-article:last-child {
        margin-right: 0; }
      .projectList-article:nth-child(3n) {
        margin-right: 0; }
      .projectList-article:nth-child(3n+1) {
        clear: left; } }
  .projectList-article a {
    color: #ffffff; }
  .projectList-article h3 {
    position: absolute;
    bottom: 0;
    left: 0;
    font-family: "Roboto", serif;
    font-weight: 300;
    font-size: 1.00433rem;
    margin: 0;
    width: 100%;
    padding: 0.375em 0.5em;
    background: -webkit-linear-gradient(rgba(0, 0, 0, 0.5) 0, rgba(0, 0, 0, 0.5) 80%) top repeat;
    background: linear-gradient(rgba(0, 0, 0, 0.5) 0, rgba(0, 0, 0, 0.5) 80%) top repeat; }
    @media screen and (min-width: 53.75em) {
      .projectList-article h3 {
        font-size: 1.625rem; } }
  .projectList-article img {
    width: 100%; }

.codeSampleList {
  list-style: none;
  padding: 0; }
  .codeSampleList_viewLink {
    display: block;
    margin: 0.75em 0; }
    .codeSampleList_viewLink a:after {
      content: ">";
      margin-left: .25em; }

footer {
  background-color: #202b3a;
  color: #ffffff;
  border-top: 1.5625em solid #4f465c; }

#hero .vertical-center {
  float: left;
  display: block;
  margin-right: 4.82916%;
  width: 100%; }
  #hero .vertical-center:last-child {
    margin-right: 0; }
  @media screen and (min-width: 40em) {
    #hero .vertical-center {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%;
      display: -webkit-box;
      display: -moz-box;
      display: box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -moz-box-orient: horizontal;
      box-orient: horizontal;
      -webkit-box-direction: normal;
      -moz-box-direction: normal;
      box-direction: normal;
      -webkit-flex-direction: row;
      -moz-flex-direction: row;
      flex-direction: row;
      -ms-flex-direction: row;
      -webkit-box-align: center;
      -moz-box-align: center;
      box-align: center;
      -webkit-align-items: center;
      -moz-align-items: center;
      -ms-align-items: center;
      -o-align-items: center;
      align-items: center;
      -ms-flex-align: center;
      margin-top: 1.625rem;
      margin-bottom: 3.25rem; }
      #hero .vertical-center:last-child {
        margin-right: 0; } }
#hero img {
  margin-top: 1.625rem;
  float: left;
  display: block;
  margin-right: 4.82916%;
  width: 65.05695%;
  margin-left: 17.47153%; }
  #hero img:last-child {
    margin-right: 0; }
  @media screen and (min-width: 30em) {
    #hero img {
      float: left;
      display: block;
      margin-right: 4.82916%;
      width: 30.11389%;
      margin-left: 34.94305%; }
      #hero img:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 40em) {
    #hero img {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 23.23176%;
      margin-left: 17.05961%;
      margin-top: 0; }
      #hero img:last-child {
        margin-right: 0; } }
#hero h1 {
  font-weight: 400;
  text-align: center;
  float: left;
  display: block;
  margin-right: 4.82916%;
  width: 100%; }
  #hero h1:last-child {
    margin-right: 0; }
  @media screen and (min-width: 40em) {
    #hero h1 {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 57.35098%;
      margin-right: 0;
      text-align: left;
      margin-top: 0;
      margin-bottom: 0; }
      #hero h1:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 53.75em) {
    #hero h1 {
      font-size: 2.6267rem;
      line-height: 3.25rem; } }
  @media screen and (min-width: 60.625em) {
    #hero h1 {
      font-size: 4.25rem;
      line-height: 4.875rem; } }
  @media screen and (min-width: 35em) {
    #hero h1 span:first-child {
      font-size: 4.25rem; } }
  @media screen and (min-width: 60.625em) {
    #hero h1 span:first-child {
      font-size: 6.8765rem; } }
  #hero h1 span:last-child {
    display: block; }
#hero p {
  font-size: 1.62237em;
  font-weight: 300;
  line-height: 1.25;
  text-align: center;
  float: left;
  display: block;
  margin-right: 4.82916%;
  width: 100%; }
  #hero p:last-child {
    margin-right: 0; }
  @media screen and (min-width: 40em) {
    #hero p {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 48.82117%;
      margin-left: 25.58941%; }
      #hero p:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 60.625em) {
    #hero p {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 65.88078%;
      margin-left: 17.05961%; }
      #hero p:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 53.75em) {
    #hero p {
      font-size: 2.625em; } }
  #hero p span {
    display: block; }

#skill-links .container {
  padding: 1.5em 0; }
#skill-links h2 {
  margin-right: 0.375em;
  margin-left: 0.375em;
  float: left;
  display: block;
  margin-right: 4.82916%;
  width: 100%; }
  #skill-links h2:last-child {
    margin-right: 0; }
  @media screen and (min-width: 40em) {
    #skill-links h2 {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 82.94039%;
      margin-left: 17.05961%; }
      #skill-links h2:last-child {
        margin-right: 0; } }
#skill-links ul {
  list-style: none;
  padding: 0;
  margin: 0; }
  #skill-links ul li {
    font-size: 1.62237rem;
    line-height: 3.25rem; }
    @media screen and (min-width: 53.75em) {
      #skill-links ul li {
        font-size: 2.625rem;
        line-height: 3.25rem; } }
    #skill-links ul li:nth-child(1) {
      float: left;
      display: block;
      margin-right: 4.82916%;
      width: 82.52847%;
      margin-left: 17.47153%;
      margin-right: 0; }
      #skill-links ul li:nth-child(1):last-child {
        margin-right: 0; }
      @media screen and (min-width: 40em) {
        #skill-links ul li:nth-child(1) {
          float: left;
          display: block;
          margin-right: 2.35765%;
          width: 57.35098%;
          margin-left: 34.11922%;
          margin-right: 0; }
          #skill-links ul li:nth-child(1):last-child {
            margin-right: 0; } }
    #skill-links ul li:nth-child(2) {
      float: left;
      display: block;
      margin-right: 4.82916%;
      width: 65.05695%;
      margin-left: 34.94305%;
      margin-right: 0; }
      #skill-links ul li:nth-child(2):last-child {
        margin-right: 0; }
      @media screen and (min-width: 40em) {
        #skill-links ul li:nth-child(2) {
          float: left;
          display: block;
          margin-right: 2.35765%;
          width: 40.29137%;
          margin-left: 51.17883%;
          margin-right: 0; }
          #skill-links ul li:nth-child(2):last-child {
            margin-right: 0; } }
    #skill-links ul li:nth-child(3) {
      float: left;
      display: block;
      margin-right: 4.82916%;
      width: 47.58542%;
      margin-left: 52.41458%;
      margin-right: 0; }
      #skill-links ul li:nth-child(3):last-child {
        margin-right: 0; }
      @media screen and (min-width: 40em) {
        #skill-links ul li:nth-child(3) {
          float: left;
          display: block;
          margin-right: 2.35765%;
          width: 23.23176%;
          margin-left: 68.23843%;
          margin-right: 0; }
          #skill-links ul li:nth-child(3):last-child {
            margin-right: 0; } }
    #skill-links ul li:nth-child(4) {
      float: left;
      display: block;
      margin-right: 4.82916%;
      width: 30.11389%;
      margin-left: 69.88611%;
      margin-right: 0; }
      #skill-links ul li:nth-child(4):last-child {
        margin-right: 0; }
      @media screen and (min-width: 40em) {
        #skill-links ul li:nth-child(4) {
          float: left;
          display: block;
          margin-right: 2.35765%;
          width: 6.17215%;
          margin-left: 85.29804%;
          margin-right: 0; }
          #skill-links ul li:nth-child(4):last-child {
            margin-right: 0; } }
    #skill-links ul li:nth-child(5) {
      float: left;
      display: block;
      margin-right: 4.82916%;
      width: 12.64237%;
      margin-left: 87.35763%;
      margin-right: 0; }
      #skill-links ul li:nth-child(5):last-child {
        margin-right: 0; }
      @media screen and (min-width: 40em) {
        #skill-links ul li:nth-child(5) {
          float: left;
          display: block;
          margin-right: 2.35765%;
          width: -10.88746%;
          margin-left: 102.35765%;
          margin-right: 0; }
          #skill-links ul li:nth-child(5):last-child {
            margin-right: 0; } }
    #skill-links ul li:nth-child(6) {
      float: left;
      display: block;
      margin-right: 4.82916%;
      width: -4.82916%;
      margin-left: 104.82916%;
      margin-right: 0; }
      #skill-links ul li:nth-child(6):last-child {
        margin-right: 0; }
      @media screen and (min-width: 40em) {
        #skill-links ul li:nth-child(6) {
          float: left;
          display: block;
          margin-right: 2.35765%;
          width: -27.94706%;
          margin-left: 119.41726%;
          margin-right: 0; }
          #skill-links ul li:nth-child(6):last-child {
            margin-right: 0; } }

#project-links h2 {
  text-align: right;
  float: left;
  display: block;
  margin-right: 4.82916%;
  width: 82.52847%;
  margin-left: 17.47153%; }
  #project-links h2:last-child {
    margin-right: 0; }
  @media screen and (min-width: 40em) {
    #project-links h2 {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 57.35098%;
      margin-left: 25.58941%; }
      #project-links h2:last-child {
        margin-right: 0; } }
#project-links .projectList {
  float: left;
  display: block;
  margin-right: 4.82916%;
  width: 100%; }
  #project-links .projectList:last-child {
    margin-right: 0; }
  @media screen and (min-width: 40em) {
    #project-links .projectList {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 65.88078%;
      margin-left: 17.05961%; }
      #project-links .projectList:last-child {
        margin-right: 0; } }
#project-links p.all-projects-link {
  float: left;
  display: block;
  margin-right: 4.82916%;
  width: 100%; }
  #project-links p.all-projects-link:last-child {
    margin-right: 0; }
  @media screen and (min-width: 40em) {
    #project-links p.all-projects-link {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 31.76157%;
      margin-left: 68.23843%; }
      #project-links p.all-projects-link:last-child {
        margin-right: 0; } }

#contact-info {
  border-bottom: 1.25em solid #AC6C82; }
  #contact-info h2 {
    float: left;
    display: block;
    margin-right: 4.82916%;
    width: 100%; }
    #contact-info h2:last-child {
      margin-right: 0; }
    @media screen and (min-width: 40em) {
      #contact-info h2 {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 82.94039%;
        margin-left: 17.05961%; }
        #contact-info h2:last-child {
          margin-right: 0; } }

/*# sourceMappingURL=style.css.map */
