<header>
    <div class="container">
		<h1><perch:content id="title" type="text" label="Title" required="true" title="true" /></h1>
	</div>
</header>
<section>
	<div class="container"> 
		<perch:content id="desc" type="textarea" label="Description" markdown="true" editor="markitup" />
		<ul>
			<li>Client: <perch:content id="client" type="text" label="Client" required="true" /></li>
			<li>Year: <perch:content id="year" type="text" label="Year" required="true" /></li>
		</ul>
	</div>
</section>
<section>	
	<div class="container">
		<perch:repeater id="gallery" label="Images for Lightbox" >
			<perch:before>
				<div class="gallery">
			</perch:before>
				
				<img 
				src="<perch:content id="image" type="image" label="Image" width="200" height="200" crop="true" />" class="materialboxed" />
				
			<perch:after>
				</div>
			</perch:after>
		</perch:repeater>

		<perch:content id="listimage" type="image" label="Image for listing page" width="300" height="200" crop="true" suppress="true" />

    </div>
</section>