<IfModule mod_rewrite.c> 
Options -MultiViews
RewriteEngine on

RewriteRule ^detail/([a-zA-Z0-9-/]*)$ detail.php?s=$1 [L,QSA,NC]
RewriteRule ^category/([a-zA-Z0-9-/]*)$ category.php?cat=$1 [L,QSA,NC]

# Redirect to PHP if it exists.
    # e.g. example.com/foo will display the contents of example.com/foo.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME}.php -f 
    RewriteRule ^(.+)$ $1.php [L,QSA]
    
</IfModule>