//----------------
// General
body {
//	@include highlight-breakpoint;
	border-top: 30px solid $dark-background-color;
}
header,
section {
	clear: both;
	@include clearfix;
}
.container {
	@include outer-container;
	padding: $base-spacing ($base-spacing/2);
	@include media($tablet-small-screen-up) {
		padding: $base-spacing $base-spacing;
	}
	header & {
		padding-bottom: 0;
	}
}
.page-content-wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -4em;
}

html, body {
 height: 100%;
}

.page-content-wrapper:after {
  content: "";
  display: block;
}

footer, 
.page-content-wrapper:after {
  height: 17em;

  @include media($large-screen) {
    height: 9em;
  }
}
//----------------
// General Page Layouts
.skill,
.projects {
	h1,
	h2,
	h3,
	h4, 
	p,
	ul,
	.gallery {
		@include media($medium-screen-up) {
			@include span-columns(10);
			@include shift(1);
		}
		@include media($large-screen-up) {
			@include span-columns(8);
			@include shift(2);
		}
		@include media($xx-large-screen-up) {
			@include span-columns(7);
			@include shift(2);
		}
		@include media($super-large-screen-up) {
			@include span-columns(6);
			@include shift(2);
		}
	}
}
.projectList {
	.projects & {
		@include span-columns(6);
		@include media($medium-screen-up) {
			@include span-columns(10);
			@include shift(1);
		}
	}
	.skill & {
		@include span-columns(6);
		@include media($medium-screen-up) {
			@include span-columns(10);
			@include shift(1);
		}
		@include media($large-screen-up) {
			@include span-columns(8);
			@include shift(2);
		}
		@include media($xx-large-screen-up) {
			@include span-columns(7);
			@include shift(2);
		}
		@include media($super-large-screen-up) {
			@include span-columns(6);
			@include shift(2);
		}
	}
}
//----------------
// Project Listing
.projectList {
	@include clearfix;
	margin-top: $base-spacing;
//	margin-bottom: $base-spacing;
}
.projectList-article {
	position: relative;
	// padding: 0;
	margin-bottom: $base-spacing;
	background-color: $black;
	@include card(1);
	
	@include span-columns(6);
	@include media($tablet-small-screen-up) {
		@include span-columns(3);
		@include omega(2n);
	}
	@include media($large-screen-up) {
		@include omega-reset(2n);
		@include span-columns(4);
		@include omega(3n);
	}
	
	a {
		color: $white;
	}
	h3 {
		position: absolute;
		bottom: 0;
		left: 0;
		font-family: $body-sans-serif;
		font-weight: 300;
		font-size: modular-scale(-1, $h3-font-size);
		margin:0;
		width: 100%;
		padding: ($base-spacing/4) .5em;
		$gradient-top: rgba(0,0,0,.5);
		$gradient-bottom: rgba(0,0,0,.5);
		@include background(linear-gradient($gradient-top 0, $gradient-bottom 80%) top repeat);
		@include media($large-screen-up) {
			font-size: $h3-font-size;
		}
	}
	img {
		width: 100%;
	}

}
//----------------
// Project Items
.project-item {
	h1,
	.project-info,
	.project-desc,
	.gallery {
		@include span-columns(6);
		@include media($medium-screen-up) {
			@include span-columns(10);
			@include shift(1);
		}
		@include media($large-screen-up) {
			@include span-columns(8);
			@include shift(2);
		}
	}
	h1 {
		@include media($xx-large-screen-up) {
			@include span-columns(7);
			@include shift(2);
		}
		@include media($super-large-screen-up) {
			@include span-columns(6);
			@include shift(2);
		}
	}
	.project-info {
		@include media($xx-large-screen-up) {
			@include span-columns(3);
			@include shift(1);
			text-align: right;
		}
		@include media($super-large-screen-up) {
			@include span-columns(3);
			@include shift(1);
		}
		h3 {
			margin-top: 0;
			span {
				font-size: modular-scale(-1, $h3-font-size);
				display: block;
			}
		}
		p {
			font-size: $h3-font-size-mobile;
			font-weight: 300;
			@include media($large-screen-up) {
				font-size: $h3-font-size;
			}
			span {
				font-size: modular-scale(-1, $h3-font-size);
				display: block;
				
			}
		}
		ul {
			list-style: none;
		}
	}
	.project-desc {
		@include media($xx-large-screen-up) {
			@include span-columns(6);
			@include shift(0);
		}
		@include media($super-large-screen-up) {
			@include span-columns(6);
			@include shift(0);
		}
	}
	.gallery {
		@include media($xx-large-screen-up) {
			@include span-columns(9);
			@include shift(1);
		}
		@include media($super-large-screen-up) {
			@include span-columns(9);
			@include shift(1);
		}
	}
}
//----------------
// Code Sample Links
.codeSampleList {
	list-style: none;
	padding: 0;
	&_viewLink {
		display: block;
		margin: ($base-spacing/2) 0;
		a:after {
			content: ">";
			margin-left: .25em;
		}
	}
}
//----------------
// Image Gallery

.gallery {
	figure {
		position: relative;
		padding-bottom: 100%;
		height: 0;
		margin: 0 0 $base-spacing;
		@include card(1);
		@include span-columns(6);
		@include media($tablet-small-screen-up) {
			@include span-columns(3);
			@include omega(2n);
			padding-bottom: 47.58542%;
		}
		@include media($medium-screen-up) {
			@include omega-reset(2n);
			@include span-columns(4);
			@include omega(3n);
			padding-bottom: 31.76157%;
		}
		a {
			display: block;
		}
		img {
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			width: 100%;
			height: 100%;
		}
		figcaption {
			@include visuallyhidden;
		}
	}
}
//----------------
// Footer
footer {
	background-color: darken($dark-background-color, 20);
	color: $white;
	border-top: em(25) solid darken($base-accent-color, 10);
}