//----------------
// General
body {
//	@include highlight-breakpoint;
	border-top: 30px solid darken($dark-background-color, 20);
}
header,
section {
	clear: both;
	@include clearfix;
}
.container {
	@include outer-container;
	padding: $base-spacing ($base-spacing/2);
	@include media($tablet-small-screen-up) {
		padding: $base-spacing $base-spacing;
	}
	header & {
		padding-bottom: 0;
	}
}
.colorbar {
	width: 100%;
	@include clearfix;
	div {
		display: inline-block;
		float: left;
		width: 20%;
		height: $base-spacing;
		margin: 0;
		@for $i from 1 through 5 {
		    &:nth-child(#{$i}) {
				background-color: map-get($color-map, $i);
		    }				
		}
	}
}
.page-content-wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -4em;
}

html, body {
 height: 100%;
}

.page-content-wrapper:after {
  content: "";
  display: block;
}

footer, 
.page-content-wrapper:after {
  height: 17em;

  @include media($large-screen) {
    height: 9em;
  }
}
//----------------
// General Page Layouts
.skill,
.projects {
	h1,
	h2,
	h3,
	h4, 
	p,
	ul,
	.gallery {
		@include media($medium-screen-up) {
			@include span-columns(10);
			@include shift(1);
		}
		@include media($large-screen-up) {
			@include span-columns(8);
			@include shift(2);
		}
		@include media($xx-large-screen-up) {
			@include span-columns(7);
			@include shift(2);
		}
		@include media($super-large-screen-up) {
			@include span-columns(6);
			@include shift(2);
		}
	}
}
.projectList {
	.projects & {
		@include span-columns(6);
		@include media($medium-screen-up) {
			@include span-columns(10);
			@include shift(1);
		}
	}
	.skill & {
		@include span-columns(6);
		@include media($medium-screen-up) {
			@include span-columns(10);
			@include shift(1);
		}
		@include media($large-screen-up) {
			@include span-columns(8);
			@include shift(2);
		}
		@include media($xx-large-screen-up) {
			@include span-columns(7);
			@include shift(2);
		}
		@include media($super-large-screen-up) {
			@include span-columns(6);
			@include shift(2);
		}
	}
}
//----------------
// Project Listing
.projectList {
	@include clearfix;
	margin-top: $base-spacing;
}
.projectList-article {
	position: relative;
	margin: 0 0 $base-spacing;
	height: 0;
	padding-bottom: 100%;
	overflow: hidden;
	@include transition(all 0.1s ease-out);
	@include card(1);
	&:hover {
		@include card(2);
		h3 {
			@include visuallyhidden;
		}
	}
	@include span-columns(6);
	@include media($mobile-large-screen-up) {
		@include span-columns(3);
		@include omega(2n);
		padding-bottom: 47.58542%;
	}
	@include media($medium-screen-up) {
		@include omega-reset(2n);
		@include span-columns(4);
		@include omega(3n);
		padding-bottom: 31.76157%;
	}
	@include media($large-screen-up) {
		@include omega-reset(2n);
		@include span-columns(4);
		@include omega(3n);
	}
	h3 {
		position: absolute;
		bottom: ($base-spacing/2);
		left: ($gutter/4);
		z-index: 1000;
		margin: 0;
		font-size: $h2-font-size;
		font-family: $body-sans-serif;
		font-weight: 500;
		width: 90%;
		text-shadow: 0px 1px 0px $dark-background-color;
		&:hover ~ a:nth-child(2) {
			@include transition(all 0.3s ease-out);
			background-color: transparent;
			& ~ img {
				@include transition(all 0.1s ease-out);
				@include filter(grayscale(0%));
			}
		}
		@include media($mobile-large-screen-up) {
			font-size: $h3-font-size;
		}
		@include media($medium-screen-up) {
			line-height: 1;
		}
		@include media($xx-large-screen-up) {
			font-size: $h2-font-size;
			bottom: ($base-spacing/4);
			.skill & {
				font-size: $h3-font-size-mobile;
			}
		}
		
		a {
			color: $white;
			&:hover {
				color: $white;
			}
		}
	}
	a {
		&:nth-child(2) {
			position: absolute;
			display: block;			
			z-index: 800;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			width: 100%;
			height: 100%;
		}
	}
	@for $i from 1 through 6 {
	    &:nth-child(#{$i}) {
	    	a:nth-child(2) {
				@include transition(all 0.3s ease-out);
				background-color: map-get($color-map, $i);
				mix-blend-mode: multiply;
				&:hover {
					background-color: transparent;
				}
				&:hover ~ img {
					@include transition(all 0.1s ease-out);
					@include filter(grayscale(0%));
				}
			}
	    }				
	}
	img {
		position: absolute;
		z-index: 500;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		width: 100%;
		height: 100%;
		@include filter(grayscale(90%) blur(6px));
		&:hover {
			@include filter(grayscale(0%) blur(0px));
		}
	}
}
//----------------
// Project Items
.project-item {
	h1,
	.project-info,
	.project-desc,
	.gallery {
		@include span-columns(6);
		@include media($medium-screen-up) {
			@include span-columns(10);
			@include shift(1);
		}
		@include media($large-screen-up) {
			@include span-columns(8);
			@include shift(2);
		}
	}
	h1 {
		@include media($xx-large-screen-up) {
			@include span-columns(7);
			@include shift(2);
		}
		@include media($super-large-screen-up) {
			@include span-columns(6);
			@include shift(2);
		}
	}
	.project-info {
		@include media($xx-large-screen-up) {
			@include span-columns(3);
			@include shift(1);
			text-align: right;
		}
		@include media($super-large-screen-up) {
			@include span-columns(3);
			@include shift(1);
		}
		h3 {
			margin-top: 0;
			span {
				font-size: modular-scale(-1, $h3-font-size);
				display: block;
			}
		}
		p {
			font-size: $h3-font-size-mobile;
			font-weight: 300;
			@include media($large-screen-up) {
				font-size: $h3-font-size;
			}
			span {
				font-size: modular-scale(-1, $h3-font-size);
				display: block;
				
			}
		}
		ul {
			list-style: none;
		}
	}
	.project-desc {
		@include media($xx-large-screen-up) {
			@include span-columns(6);
			@include shift(0);
		}
		@include media($super-large-screen-up) {
			@include span-columns(6);
			@include shift(0);
		}
	}
	.gallery {
		@include media($xx-large-screen-up) {
			@include span-columns(10);
			@include shift(1);
		}
		@include media($super-large-screen-up) {
			@include span-columns(10);
			@include shift(1);
		}
	}
}
//----------------
// Code Sample Links
.codeSampleList {
	list-style: none;
	padding: 0;
	&_viewLink {
		display: block;
		margin: ($base-spacing/2) 0;
		a:after {
			content: ">";
			margin-left: .25em;
		}
	}
}
//----------------
// Image Gallery

.gallery {
	figure {
		position: relative;
		padding-bottom: 100%;
		height: 0;
		margin: 0 0 $base-spacing;
		@include transition(all 0.1s ease-out);
		@include card(1);
		&:hover {
			@include card(2);
		}
		@include span-columns(6);
		@include media($tablet-small-screen-up) {
			@include span-columns(3);
			@include omega(2n);
			padding-bottom: 47.58542%;
		}
		@include media($medium-screen-up) {
			@include omega-reset(2n);
			@include span-columns(4);
			@include omega(3n);
			padding-bottom: 31.76157%;
		}
		a {
			display: block;
		}
		img {
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			width: 100%;
			height: 100%;
		}
		figcaption {
			@include visuallyhidden;
		}
	}
}
//----------------
// Footer
footer {
	background-color: darken($dark-background-color, 20);
	color: tint(darken($dark-background-color, 20), 60);
	text-align: right;
}