//----------------
// General
body {
	@include highlight-breakpoint;
}
header {
	clear: both;
}
.container {
	@include outer-container;
	padding: $base-spacing ($base-spacing/2);
	#skill-links & {
		padding: $base-spacing 0;
	}
}
//----------------
// Home Page
#hero {
	img {
		@include span-columns(2);
		@include shift(2);
		@include media($medium-screen-up) {
			@include span-columns(3);
			@include shift(2);
		}
	}
	h1 {
		font-weight: 400;
		text-align: center;
		@include span-columns(6);
		@include media($medium-screen-up) {
			@include span-columns(6);
		}
		span:first-child {

		}
		span:last-child {
			display: block;
		}
	}
	p {	
		font-size: modular-scale(-1, em(42));
		font-weight: 300;
		line-height: 1.25;
		text-align: center;
		@include span-columns(6);
		@include media($medium-screen-up) {
			@include span-columns(6);
			@include shift(3);
		}
		@include media($large-screen-up) {
			font-size: em(42);
		}
	}
}
#skill-links {
	h2 {
		margin-right: ($base-spacing/4);
		margin-left: ($base-spacing/4);
	}
	ul {
		list-style: none;
		padding: 0;
		margin: 0;
		li {
			font-size: $h2-font-size-mobile;
			line-height: $h2-line-height-mobile;
			@include media($large-screen-up) {
				font-size: $h2-font-size;
				line-height: $h2-line-height;
			}
			&:nth-child(1) {
				@include span-columns(5);
				@include shift(1);
				@include omega;
			}
			&:nth-child(2) {
				@include span-columns(4);
				@include shift(2);
				@include omega;
			}
			&:nth-child(3) {
				@include span-columns(3);
				@include shift(3);
				@include omega;
			}
			&:nth-child(4) {
				@include span-columns(5);
				@include shift(1);
				@include omega;
			}
			&:nth-child(5) {
				@include span-columns(4);
				@include shift(2);
				@include omega;
			}
			&:nth-child(6) {
				@include span-columns(3);
				@include shift(3);
				@include omega;
			}
		}
	}
}
//----------------
// Project Listing
.projectList {
	list-style: none;
	padding: 0;
	li {
		position: relative;
		padding: 0;
		min-height: em(200);
		margin-bottom: $base-spacing;
		background-color: $black;
		@include card(1);
		@include span-columns(6);
		@include media($tablet-small-screen-up) {
			@include span-columns(3);
			@include omega(2n);
		}
		@include media($large-screen-up) {
			@include omega-reset(2n);
			@include span-columns(4);
			@include omega(3n);
		}
		a {
			color: $white;
			padding: 0;
			display: block;
		}
		h2 {
			position: absolute;
			bottom: 0;
			left: 0;
			font-family: $body-sans-serif;
			font-weight: 300;
			font-size: modular-scale(-1, $h3-font-size);
			margin:0;
			width: 100%;
			padding: ($base-spacing/4) .2em;
			//line-height: 1.5;
			$gradient-top: rgba(0,0,0,.5);
			$gradient-bottom: rgba(0,0,0,.5);
			@include background(linear-gradient($gradient-top 0, $gradient-bottom 80%) top repeat);
			@include media($large-screen-up) {
				font-size: $h3-font-size;
			}
		}
		img {
			width: 100%;
		}
	}
}
//----------------
// Skill Pages
.codeSampleList {
	list-style: none;
	padding: 0;
	&_viewLink {
		display: block;
		margin: ($base-spacing/2) 0;
		a:after {
			content: ">";
			margin-left: .25em;
		}
	}
}