//----------------
// Home Page
#hero {
	//background-color: $light-accent-color;
	//border-top: 5px solid $light-background-color;
	.vertical-center {
		@include span-columns(6);
		@include media($medium-screen-up) {
			@include span-columns(12);
			@include display(flex);
		    @include flex-direction(row);
		    @include align-items(center);
		    margin-top: $h1-margin-top;
		    margin-bottom: $h1-margin-bottom;
		}
	}
	img {
		margin-top: $h1-margin-top;
		@include span-columns(4 of 6);
		@include shift(1);
		@include media($mobile-large-screen-up) {
			@include span-columns(2 of 6);
			@include shift(2);
		}
		@include media($medium-screen-up) {
			@include span-columns(3 of 12);
			@include shift(1);
			margin-top:0;
		}
		@include media($medium-large-screen-up) {
			@include span-columns(3 of 12);
			@include shift(2);
		}
		@include media($x-large-screen-up) {
			@include span-columns(3 of 12);
			@include shift(1);
		}
	}
	h1 {
		font-weight: 400;
		text-align: center;
		@include span-columns(6 of 6);
		@include media($medium-screen-up) {
			@include span-columns(7 of 12);
			@include omega;
			text-align: left;
			margin-top:0;
			margin-bottom: 0;
		}
		@include media($x-large-screen-up) {
			@include span-columns(8 of 12);
			@include omega;
			text-align: left;
			margin-top:0;
			margin-bottom: 0;
		}
	  	@include media($large-screen-up) {
	      font-size: $h1-font-size-mobile;
	      line-height: $h1-line-height-mobile;
	    }
      	@include media($x-large-screen-up) {
	      font-size: $h1-font-size;
	      line-height: $h1-line-height;
	    }
		span:first-child {
			@include media($tablet-small-screen-up) {
				font-size: modular-scale(1, $h1-font-size-mobile);				
			}
			@include media($x-large-screen-up) {
				font-size: modular-scale(1, $h1-font-size);
			}
		}
		span:last-child {
			display: block;
		}
	}
	p {	
		font-size: modular-scale(-1, rem(42));
		font-weight: 300;
		line-height: 1.25;
		text-align: center;
		@include span-columns(6);
		@include media($x-large-screen-up) {
			@include span-columns(8);
			@include shift(2);
			font-size: rem(42);
		}
		span {
			display: block;
		}
	}
}
#project-links,
#skill-links {
	background-color: $dark-background-color;
	color: $white;
	h3 {
		@include media($x-large-screen-up) {
			font-size: modular-scale(1, $h3-font-size);
		}
	}
	h2 {
		//@extend h3;
		margin-top: 0;
		@include span-columns(6);
		@include media($medium-screen-up) {
			@include span-columns(10);
			@include shift(1);
			margin-top: $h2-margin-top;
			//margin-bottom: $h2-margin-bottom;
		}
		@include media($large-screen-up) {
		    font-size: $h2-font-size-mobile;
		}
		&:after {
			//content: "...";
		}
	}

}

#project-links {
	border-top: 10px solid darken($dark-background-color, 5);
	h2 {
		//color: darken($dark-background-color, 10);
		border-bottom: 2px solid darken($dark-background-color, 5);
	}
	a {
		@include transition(all 0.1s ease-in-out);
		color: $white;
		&:hover {
			color: $texas-rose;
		}
		&:active, &:focus {
		    color: $texas-rose;
		    outline: none;
		}
	}
	.projectList {
		@include media($medium-screen-up) {
		}
	}	
}

#skill-links {
	background-color: $turkish-rose;
	h2 {
		border-bottom: 2px solid darken($turkish-rose, 10);
	}
	a {
		color: $white;
		&:hover {
			color: $hover-link-color;
			text-shadow: 0 1px 5px rgba(0,0,0,.2);
		}
		&:active, &:focus {
		    color: $hover-link-color;
		    outline: none;
		}
	}
	ul {
		list-style: none;
		padding: 0;
		margin: $h2-margin-top 0 $h2-margin-bottom;
		text-align: center;
		@include span-columns(6);
		@include media($medium-screen-up) {
			margin: $h2-margin-top 0 $h2-margin-bottom * 1.5;
			@include span-columns(10);
			@include shift(1);
		}
		li {
			display: inline-block;
			@extend h3;
			margin-top: 0;
			margin-bottom: $h3-margin-bottom / 2;
			&:first-child:before {
				content: '...';
				color: darken($turkish-rose, 10);
			}
			&:after {
				content: '/';
				color: darken($turkish-rose, 10);
			}
			&:last-child:after {
				content: '...';
				//color: $white;
			}
			@include media($medium-screen-up) {
				font-size: modular-scale(1, $h3-font-size);
			}
			@include media($large-screen-up) {
				font-size: modular-scale(1, $h3-font-size);
			}
		}
	}
}


#contact-info {
	border-top: 10px solid darken($turkish-rose, 10);
	h2 {
		text-align: center;
		@include span-columns(6);
		@include media($medium-screen-up) {
			@include span-columns(12);
		}
	}
	ul {
		@include span-columns(6);
		@include media($medium-screen-up) {
			@include span-columns(10);
			@include shift(1);
		}
		@include media($x-large-screen-up) {
			@include span-columns(8);
			@include shift(2);
		}
		padding: 0;
		list-style: none;
		li {
			display: inline-block;
			float: left;
			width: 16.66667%;
			text-align: center;
			svg {
				width: 70%;
				margin: 0 auto;
				@include media($medium-screen-up) {
					width: 100%;
				}
			}
		}
	}
	.icon {
		@include transition(all 0.2s ease-out);
	}
	.github-icon:hover path {
		@include transition(all 0.2s ease-out);
		fill: #4183c4;
	}
	.twitter-icon:hover path {
		@include transition(all 0.2s ease-out);
		fill: #55acee;
	}
	.linkedin-icon:hover path {
		@include transition(all 0.2s ease-out);
		fill: #0077b5;
	}
	.stackoverflow-icon:hover path {
		@include transition(all 0.2s ease-out);
		fill: #fe7a15;
	}
	.instagram-icon:hover path {
		@include transition(all 0.2s ease-out);
		fill: #3f729b;
	}
	.email-icon:hover path {
		@include transition(all 0.2s ease-out);
		fill: $new-york-pink;
	}
}