//----------------
// General
body {
//	@include highlight-breakpoint;
}
header,
section {
	clear: both;
	@include clearfix;
}
.container {
	@include outer-container;
	padding: $base-spacing ($base-spacing/2);
	@include media($tablet-small-screen-up) {
		padding: $base-spacing $base-spacing;
	}
	header & {
		padding-bottom: 0;
	}
}
//----------------
// General Page Layouts
.skill,
.projects,
.project-item {
	h1,
	h2,
	h3,
	h4, 
	p,
	ul {
		@include media($medium-screen-up) {
			@include span-columns(10);
			@include shift(1);
		}
		@include media($large-screen-up) {
			@include span-columns(8);
			@include shift(2);
		}
		@include media($xx-large-screen-up) {
			@include span-columns(7);
			@include shift(2);
		}
		@include media($super-large-screen-up) {
			@include span-columns(6);
			@include shift(2);
		}
	}
}
.projects {
	.projectList {
		@include span-columns(6);
		@include media($medium-screen-up) {
			@include span-columns(10);
			@include shift(1);
		}
	}
}
.skill {
	.projectList {
		@include span-columns(6);
		@include media($medium-screen-up) {
			@include span-columns(7);
			@include shift(2);
		}
	}
}
.project-item {
	.gallery {
		@include span-columns(6);
		@include media($medium-screen-up) {
			@include span-columns(10);
			@include shift(1);
		}
		@include media($large-screen-up) {
			@include span-columns(8);
			@include shift(2);
		}
		@include media($xx-large-screen-up) {
			@include span-columns(7);
			@include shift(2);
		}
		@include media($super-large-screen-up) {
			@include span-columns(6);
			@include shift(2);
		}
	}
}
//----------------
// Project Listing
.projectList {
	@include clearfix;
	margin-top: $base-spacing;
//	margin-bottom: $base-spacing;
}
.projectList-article {
	position: relative;
	// padding: 0;
	margin-bottom: $base-spacing;
	background-color: $black;
	@include card(1);
	
	@include span-columns(6);
	@include media($tablet-small-screen-up) {
		@include span-columns(3);
		@include omega(2n);
	}
	@include media($large-screen-up) {
		@include omega-reset(2n);
		@include span-columns(4);
		@include omega(3n);
	}
	
	a {
		color: $white;
	}
	h3 {
		position: absolute;
		bottom: 0;
		left: 0;
		font-family: $body-sans-serif;
		font-weight: 300;
		font-size: modular-scale(-1, $h3-font-size);
		margin:0;
		width: 100%;
		padding: ($base-spacing/4) .5em;
		$gradient-top: rgba(0,0,0,.5);
		$gradient-bottom: rgba(0,0,0,.5);
		@include background(linear-gradient($gradient-top 0, $gradient-bottom 80%) top repeat);
		@include media($large-screen-up) {
			font-size: $h3-font-size;
		}
	}
	img {
		width: 100%;
	}

}
//----------------
// Code Sample Links
.codeSampleList {
	list-style: none;
	padding: 0;
	&_viewLink {
		display: block;
		margin: ($base-spacing/2) 0;
		a:after {
			content: ">";
			margin-left: .25em;
		}
	}
}
//----------------
// Image Gallery
.gallery {
	img {
		@include card(1);
		@include span-columns(6);
		@include media($tablet-small-screen-up) {
			@include span-columns(3);
			@include omega(2n);
		}
		@include media($medium-screen-up) {
			@include omega-reset(2n);
			@include span-columns(4);
			@include omega(3n);
		}
	}
}
//----------------
// Footer
footer {
	background-color: darken($dark-background-color, 20);
	color: $white;
	border-top: em(25) solid darken($base-accent-color, 10);
}